/.vs/Advent2020/v16/.suo
/.vs/Advent2020/v16/Browse.VC.db
/.vs/Advent2020/v16/Browse.VC.db-shm
/.vs/Advent2020/v16/Browse.VC.db-wal
/.vs/Advent2020/v16/Browse.VC.opendb
/.vs/Advent2020/v16/ipch/AutoPCH/1ce712394bf0896a/ADVENTMAIN.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/391380099b609bb4/ACDAY1.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/45bad2052adf127f/ACDAY4.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/4a34651d690dc05a/ACDAY3.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/78fd0707123c9311/ACDAY2.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/c0ceacf8b6a7e468/ACDAY5.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/f753f015323b49e4/DATAFILEREADER.ipch
/x64/Debug/ACDay1.obj
/x64/Debug/ACDay2.obj
/x64/Debug/ACDay3.obj
/x64/Debug/ACDay4.obj
/x64/Debug/ACDay5.obj
/x64/Debug/Advent2020.exe
/x64/Debug/Advent2020.exe.recipe
/x64/Debug/Advent2020.ilk
/x64/Debug/Advent2020.log
/x64/Debug/Advent2020.pdb
/x64/Debug/Advent2020.tlog/Advent2020.lastbuildstate
/x64/Debug/Advent2020.tlog/CL.command.1.tlog
/x64/Debug/Advent2020.tlog/CL.read.1.tlog
/x64/Debug/Advent2020.tlog/CL.write.1.tlog
/x64/Debug/Advent2020.tlog/link.command.1.tlog
/x64/Debug/Advent2020.tlog/link.read.1.tlog
/x64/Debug/Advent2020.tlog/link.write.1.tlog
/x64/Debug/Advent2020.vcxproj.FileListAbsolute.txt
/x64/Debug/AdventMain.obj
/x64/Debug/DataFileReader.obj
/x64/Debug/acday5.obj.enc
/x64/Debug/vc142.idb
/x64/Debug/vc142.pdb
/.vs/Advent2020/v16/ipch/AutoPCH/ac7631de2b5c97c5/ACDAY6.ipch
/x64/Debug/ACDay6.obj
