/.vs/Advent2020/v16/.suo
/.vs/Advent2020/v16/Browse.VC.db
/.vs/Advent2020/v16/Browse.VC.db-shm
/.vs/Advent2020/v16/Browse.VC.db-wal
/.vs/Advent2020/v16/Browse.VC.opendb
/.vs/Advent2020/v16/ipch/AutoPCH/1ce712394bf0896a/ADVENTMAIN.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/391380099b609bb4/ACDAY1.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/45bad2052adf127f/ACDAY4.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/4a34651d690dc05a/ACDAY3.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/78fd0707123c9311/ACDAY2.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/c0ceacf8b6a7e468/ACDAY5.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/f753f015323b49e4/DATAFILEREADER.ipch
/x64/Debug/ACDay1.obj
/x64/Debug/ACDay2.obj
/x64/Debug/ACDay3.obj
/x64/Debug/ACDay4.obj
/x64/Debug/ACDay5.obj
/x64/Debug/Advent2020.exe
/x64/Debug/Advent2020.exe.recipe
/x64/Debug/Advent2020.ilk
/x64/Debug/Advent2020.log
/x64/Debug/Advent2020.pdb
/x64/Debug/Advent2020.tlog/Advent2020.lastbuildstate
/x64/Debug/Advent2020.tlog/CL.command.1.tlog
/x64/Debug/Advent2020.tlog/CL.read.1.tlog
/x64/Debug/Advent2020.tlog/CL.write.1.tlog
/x64/Debug/Advent2020.tlog/link.command.1.tlog
/x64/Debug/Advent2020.tlog/link.read.1.tlog
/x64/Debug/Advent2020.tlog/link.write.1.tlog
/x64/Debug/Advent2020.vcxproj.FileListAbsolute.txt
/x64/Debug/AdventMain.obj
/x64/Debug/DataFileReader.obj
/x64/Debug/acday5.obj.enc
/x64/Debug/vc142.idb
/x64/Debug/vc142.pdb
/.vs/Advent2020/v16/ipch/AutoPCH/ac7631de2b5c97c5/ACDAY6.ipch
/x64/Debug/ACDay6.obj
/.vs/Advent2020/v16/ipch/AutoPCH/269290fcd3746d2e/ACDAY7.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/102cc01809f61b88/ACDAY6.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/1e0f95fdbd3a42b1/ACDAY1.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/37cb88c26f35f2db/NESTEDBAG.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/4152e0f6eddef09f/ACDAY7.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/4f4579f30ffd1b39/DATAFILEREADER.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/5091c4fff2aa2465/ACDAY5.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/600a36224693092b/ACDAY3.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/76e81ff10a73a0ce/ACDAY4.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/7e931f70a92ba156/ACDAY7.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/88719328eeaed2d4/ACDAY2.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/9504632c68737426/NESTEDBAG.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/be1aab9241667b1/NESTEDBAG.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/cce339ee959772e2/ADVENTMAIN.ipch
/.vs/Advent2020/v16/ipch/AutoPCH/f7e37696d369b1db/ADVENTMAIN.ipch
/Debug/ACDay1.obj
/Debug/ACDay2.obj
/Debug/ACDay3.obj
/Debug/ACDay4.obj
/Debug/ACDay5.obj
/Debug/ACDay6.obj
/Debug/ACDay7.obj
/Debug/Advent2020.exe
/Debug/Advent2020.exe.recipe
/Debug/Advent2020.ilk
/Debug/Advent2020.log
/Debug/Advent2020.pdb
/Debug/Advent2020.tlog/Advent2020.lastbuildstate
/Debug/Advent2020.tlog/CL.command.1.tlog
/Debug/Advent2020.tlog/CL.read.1.tlog
/Debug/Advent2020.tlog/CL.write.1.tlog
/Debug/Advent2020.tlog/link.command.1.tlog
/Debug/Advent2020.tlog/link.read.1.tlog
/Debug/Advent2020.tlog/link.write.1.tlog
/Debug/Advent2020.vcxproj.FileListAbsolute.txt
/Debug/AdventMain.obj
/Debug/DataFileReader.obj
/Debug/NestedBag.obj
/Debug/acday2.new.obj.enc
/Debug/vc142.idb
/Debug/vc142.pdb
/inputModule_XX
/x64/Debug/ACDay7.obj
/x64/Debug/NestedBag.obj
